[xin_0]
file={{ ansible_user_dir }}/Pictures/Wallpapers/{{ nitrogen_bg | default("walley-sunset.jpg") }}
mode=5
bgcolor=#000000

[xin_1]
file={{ ansible_user_dir }}/Pictures/Wallpapers/{{ nitrogen_bg | default("walley-sunset.jpg") }}
mode=5
bgcolor=#000000
